* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#thumbnail-container {
  border: solid 5px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.thumbnail-img {
  width: 25%;
}

.main-img {
  height: 100vh;
  width: 100%;
}
