* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: white black;
  scrollbar-width: thin;
}

body {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

#thumbnail-container {
  min-width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 2;
}

.thumbnail-img {
  width: 100%;
  border: black 3px solid;
}

.thumbnail-img:hover {
  border: white 2px solid;
}

#main-image-container {
  grid-column-start: 2;
  grid-column-end: 3;
}

.main-img {
  object-fit: cover;
  height: 100vh;
  max-width: 100%;
}

@media (max-width: 800px) {
  body {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    overflow-y: none;
  }
  #thumbnail-container {
    flex-direction: row;
    height: 100%;
    width: auto;
    overflow: auto;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #main-image-container {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .thumbnail-img {
    height: 20vh;
  }
  .main-img {
    object-fit: contain;
    height: 80vh;
  }
}
